<div class="row bg-black text-white justify-content-around px-5 ">
    <div class="col-md-2 mt-4">
        <h4>Exclusive</h4>
        <h5>Subscribe</h5>
        <p>Get 10% Off your first order</p>
        <form class="d-flex search-form" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-icon" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <div class="col-md-2 mt-4">
        <h5>Support</h5>
        <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
        <p>exclusive<span>at</span>gmail.com</p>
        <p>+88015-88888-9999</p>
    </div>

    <div class="col-md-2 mt-4">
        <h5>Account</h5>
        <p>My Account</p>
        <p>Login / Register</p>
        <p>Cart</p>
        <p>Wishlist</p>
        <p>Shop</p>
    </div>

    <div class="col-md-2 mt-4">
        <h5>Quick Link</h5>
        <p>Privacy Policy</p>
        <p>Terms OF Use</p>
        <p>FAQ</p>
        <p>Contact</p>
    </div>

    <div class="col-md-2 mt-4">
         <h5>Download App</h5>
         <p>Save S# with App New User Only</p>
         <div class="d-flex">
             <img class="img-qr" src="https://s3-alpha-sig.figma.com/img/9913/87c0/5dd6d44594e01b675513068803e2426d?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=boz7GDEvEGiPzwkBIezDHZrBFJ8zOl5XcYicjXEXb2d9vhHxKvO2upZ05MKhL6xgEvp~20uwXT0zFF7EbA1Tf0UYy0TYyjsGaNDIBAb5AnFXpwFa5BQExg5pB5qJK4xIcj~W1lHBQuD4n63fonHpCiwYVd7Ll7NQPy-0Tg~rZg5UvTzjPmQyiKX89LNv1Z3VQ11NkAo58v2Qc9vf3rQmASaKmktukVg6qVlrbfvmlFv7jscM2qDY8etEU6Vbxz7y-wTvaYh9MvGd5-VCQNLHprjakYyGkPfbMZXZj11uG5qmfsZF-WQjrp9G1cMYQClXDA6Yb1MwsNGwTT-txjjB3g__" alt="">
            <div class="side-img" style=" position: relative;">
                <img class="" style="width: 87px;
                position: absolute;
                right: -119%;
                bottom: -1%;" src="https://s3-alpha-sig.figma.com/img/a61d/4c71/10b18ab55a1e1a07ebf54a46ebb07284?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H~TGjPR8Mz6PREP0hFD8UOdydMzQQ0UXQzMgr25Jexhket0exNy~lPqF96OOIEGnW3iTNykzhc~7~4EpLJ7pvA5tsfPvinGoNaj9f~2pDS0vsqfX4QK2yQYXjB9wrMafLbIrU4o-XymfNnOIH2jiWGdznVuSH-F0zuaMUo92hwyPLu-hVzQfo-VZmSm4wu6JdJoR12cFJsMVrxTnDMsvP8kVbNwD9-sus-iAxxcWwHOuxNQaPrJ~1fz0UBNCHYEtEXWv7SFZ2Xb8TRuIFMMpmPwiAm7E--ew2ilJ8IckMuCm-60Lo~OyE70Qz457lWd~x8MYd1T62ypl8B6NFB0DJw__" alt="">
                <img style="    width: 84px;
                position: absolute;
                right: -126%;
                bottom: -56%;" class="" src="https://s3-alpha-sig.figma.com/img/3893/2d5a/ccb54c528f9bcf326ca48ea29bd6d890?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Nl6ldHcQjonw6xm8vwRMGnv0M7I6tFzAJwJ9lZhYivOB5OnfSLInL66dYRLjtMBWAwiU7uBvOV9hztTIZWsfH7kbswAeigNGlYKEF3Yrak9fYiODxgL-jBdfZCpNP9SGPZrVyCvnGrhJQpvrY2wllaPPBSnpHRlb1~dbfnGA6lnT2sqj5z~J2xNgw2CpmP5tU~OGswYYohwQxECX8I7NkYjIqD~abQFqHZ6zrEghmBY7HZlFpNx~EX~fpz8soc64XLNdqc-qqzZB~7AHATpWNEew0am-Ac5sPGck1wdNLr8DTy1t4ePJvG~9as2XjFYmgp9ZpKzaYWWc8gc9mE7K7Q__" alt="">
            </div>
         </div>
    </div>
    
</div>
