<h2 class="text-secondary my-4">Account / Gaming / <span class="color-black">Havic HV G-92 Gamepad</span></h2>
<div class="row">
    <div class="col-md-2">
        <div class="card side-img">
                <img src="https://s3-alpha-sig.figma.com/img/1490/1cca/de638588f27b571d7565fbaacfe57243?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HSzRmbb9mwAt~-NzlkkPlc4yZZbi45U1r~e-Eol0K6doFSVBNR0a8cz1HA7q-veRiBmafBaozgoHHixAexF6XqTjN0O~0vu-twhlI4Y7CjJsrVTQbMRvwPhNhOjdnv4XdF21zOI51vZ2eWX97UgSnqUVBCz9z7bFOpT3jRuKkyKAVtBB2XBe7hcMcpZARMvmLyY3nl5NdA0sLakQapzRntMleJFDTkNimEvb4MHdyFgFDchd0imAq7XbZhz36Zq5JGXvAVWriyMuVkfYYtOmVb2dNRZV0X4Li9amK40~7G1VOK6hG8PfJqwYXSdxlF9U~9VDogB2SW2MqmmITRNd9A__" class=" my-auto" alt="">
        </div>
        <div class="card side-img">
            <img src="https://s3-alpha-sig.figma.com/img/ca92/325b/4d31381f7fe4841786f4511bd4849d87?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PieeUtrB0kxYT2AfVN1pj7uqsbkxR1eJWs~CKvdQY8QoVpvpy~sSfQfxp3TtNuFWRTU0D5NAy3zdH1t3jjACuDm5yLs9jQdfEEL4a1LglZxOWyOUVJ6~znbOVBqqnBnZCi5vYmpdJ86CVMfafU-eLUzvG1MizYwHa30BtGR-32ui5Yj5~Hhrkqgh1ht59bqpqR37sTmYwWlHiso26zW530RI-igtMu58oTGqZ~0fk1sWEsgfG5oW~VN~6uZ1VO2RtyVo0zf7ohREsIYoa72gW-kJCrBgr-614trOIpUT66MfazdxX7PZwAJJttSCmblrzseJ0LCrqYdlaLA8WelI7A__" class=" my-auto" alt="">
        </div>
        <div class="card side-img">
            <img src="https://s3-alpha-sig.figma.com/img/bdcf/fcaa/9b23a76cbe02748d2090a0b9a11cf0a5?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CYuAxy3dTFzMvgFvHxa1BPhpraxPT-uKf47-L1tbO8IbLbsZTkrSrgx0~2qb41BvFUp5asUn2g8mTk3IeSDRMYofmgwBbtdXJn7gavMOHn9QRcLp8045ETF3LmwAXTEGcKwVBuOsvTE6HPi5w0kfysfj55~r6nmCz2uvSed44rw~B3VYSvKIo2EV~lfndaaYVEE0MlBZ6WhyTYHbC0EUgBvUk8DdtrqFq9YrPsIJC4S29GHS4rq8bPdcCoroziBnDM2xsZzikLRSu2WzXApLhI1f4-wEtp2diJMwKyn9L6jkV6TN4Ldm6OfOvq8ii277YJgGr3o5H9n8fTzo8y6euA__" class=" my-auto" alt="">
        </div>
        <div class="card side-img">
            <img src="https://s3-alpha-sig.figma.com/img/f109/e9ce/a445f7c73ec2a2153e0e149e85ee9d28?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mEhdM7qzUPLxGsH6OavgyOyqTZfkuj0KZpBDfMEcSEOjBV2fPH2svZZ0ehiigPfmjVnh9CPUVAyr9r-kQFHsQeFtslnmrCwJS0eaNe5CDmK~~pA3NV-CXhRp96awgA~1PDwyqAhm0lW0qEIusJkiAljeIUZ62S1w9QxUqxHpKsm7Q7hk0iwgkBjPLDAVnI5dZhLm8UhZ0B~XP6XVoIexqhXsL09DGXD2wmNWF6pVKKi2nWl3Hlt99BV~C78uki8Yt2LCNAcq5V3f5z-3ZmcsDNh4gwpqUXJVKlphyp9NLJ~mAXuMw0-XfQjltDpPpRPWH5yNs~VJuRvfbm0H~KcsvA__" class=" my-auto" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card main-img">
            <img src="https://s3-alpha-sig.figma.com/img/faa8/0b60/9e3950aed9181acb44510f859f50d850?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VPr6S5StwrtVKcUTX9bWOHi8MufBC9WxFhq5c3BiaUCdhTKUb9IOYxef2PpZJppKcb5WNtTk5P91eEP54ijn-naSnO62WC1Q7WAGcXFflZR1fVcTpM9fSOOwAotzlnGV-R0rFL~FHyOO-bnlMCQyDy8V74X-FjvedLaF2TuUuVwaJWO0GP1LCBEU-4PjlId0iuJdweLPnvvDtL-VilKrmpimK9-QfW5qK84alkK8WzfqUVkBpNQo7YrLZg1vS4XdEtIKCzDmbCjbuLlqe3N4-ETjWJ6v8Jr68dOGFZo614ZAwboG~1hw4S9O3PxsuwXuvlEL5bWZzPn9lGe8dapUow__"  class=" my-auto" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <h4>Havic HV G-92 Gamepad</h4>
        <p>$192.00</p>
        <p>PlayStation 5 Controller Skin High quality vinyl with air channel adhesive for easy bubble free install & mess free removal Pressure sensitive.</p>
        <hr>
        <div class="colors d-flex ">
            <h4>Colours:</h4>

        </div>
        <div class="d-flex justify-content-between">
            <h4>Size:</h4>
            <p class="card-custom">XS</p>
            <p class="card-custom">S</p>
            <p class="card-custom bg-danger text-light">M</p>
            <p class="card-custom">L</p>
            <p class="card-custom">XL</p>
        </div>
        <div class="d-flex justify-content-between mb-4 mt-1">
            <div class="btn-group" role="group" aria-label="Basic example" style="width: 32%;">
                <button type="button" class="btn btn-outline-dark">-</button>
                <button type="button" class="btn btn-outline-dark">2</button>
                <button type="button" class="btn btn-danger">+</button>
              </div>
              <button type="button" class="btn btn-danger buy-button">Buy Now</button>
              <fa-icon class="card-custom heart-icon" [icon]="faHeart"></fa-icon>
        </div>

          <div class="card border-bottom-0 rounded-bottom-0 border-black" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <fa-icon class="card-icon" [icon]="faTruck"></fa-icon>
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">Free Delivery</h5>
                        <a href="#" class="card-link text-black">Enter your postal code for Delivery Availability</a>
                    </div>
                </div>
              
            </div>
          </div>

          <div class="card rounded-top-0 border-black" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <fa-icon class="card-icon" [icon]="faRotate"></fa-icon>
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">Return Delivery</h5>
                        <a href="#" class="card-link text-black"><span>Free 30 Days Delivery Returns.</span>Details</a>
                    </div>
                </div>
            </div>
          </div>
        
    </div>

</div>
<div class="row my-5 justify-content-around">
    <div class="col-12 my-2">
        <h2>Related Item</h2>
    </div>
    <div class="col-md-3" *ngFor="let post of posts" routerLink="/product/{{post.id}}">
        <div class="card">
            <div class="">
                <img class="card-img-top" src="{{post?.image}}" alt="">
            </div>
            <div class="card-body">
                <h5>{{post?.name}}</h5>
                <p><span>$120</span>  <span>$160</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="img">
                <img class="card-img-top" src="https://s3-alpha-sig.figma.com/img/5d5c/2e52/50752d55f8b60f2aa2923183dadbc135?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aRcYQoFRhzhf7Yx37DVW9A8U07~zM40Qpubuf7995PGm-ZcK81bK33qyoQWFYXrVUz1dyBwsk5ZUAO4PbUUT4uK184OjS57DN35e3YqxEN3BYqsZSf54FkVJ4mdWEIbMDht2Eji9iYVC7mJ0ilVxt8gDmGU8Uzvqjh~--FZBMHNotajXki06GaL71swPv5UirrbKBVZewy2p-6tSvQTF1wyB~xziT~Ar-sHuyR8W3BWlCpcwkbhXx4QBgzFO-q1UJq4dvZ8LO~PRSKTAEUtpR7OM7gDEY99MzZR2OhUrLnuDHomzWwRE5uRE1oKccV3qKyyFIZxylKWs8-IvFZlR7w__" alt="">
            </div>
            <div class="card-body">
                <h5>HAVIT HV-G92 Gamepad</h5>
                <p><span class="text-danger">$120</span>  <span class="text-secondary">$160</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="img">
                <img class="card-img-top" src="https://s3-alpha-sig.figma.com/img/e59d/9f34/8cc24eeff489863523b63971c3ff8e4a?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jAd4HPFeohYxN6zC7nztGwfJnqytNriXtHqaylg0UlW9UuRZ7TNiMGZe3XA4HuRBfrYfYqrO8BVgA0Y6JHvsr8t~b7eMrmE0LoSiTrwfN7oL2Rtz4KDXJqNjXuaZdoSb7Vy59zbU~WhG3gNvEpHpbwhPfGA-2mHsZuFUZw5ZghJafGLtPYyPgDwW7FdzKSVOI--xOi5vlBU27ZjlsVpclKAMxTxG43Q44DtVEhfZyAEd2zWGHEGgZHReBR2SnP3nLinU3zhqF-VRQE4ymNn71f6DeP-hGdPvLCkPp5PAtvgSxRwCJBwuYAQv2vfwu7SWiZMtnWBt65WeFaNlvYDDcA__" alt="">
            </div>
            <div class="card-body">
                <h5>AK-900 Wired Keyboard</h5>
                <p><span class="text-danger">$960</span>  <span class="text-secondary">$1160</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="img">
                <img class="card-img-top" src="https://s3-alpha-sig.figma.com/img/5e63/4682/db5174aff99bb9337d2dc9598a0b44e4?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S5jXkoBbtiBx4tBBYOKCtD6Hq0I-n8sEAGj5LsQehYqauJH2q1ek1cE8ivl-z0XIpP8gXA8z2qMGwSXz4vOooO3HD65aEVGnAJVsDVIIu2XNAonBwG-CuNs973ykvWXVnc~Srjf5iUw1PB9uZAR1LKwPpH~flb4Gl4kp6mvi9Pnf06q2PxkwR9izGLoX-zHaXlL7~pCiLx~vFFfL~DkBDduNClckjZmxcX0M6pyaDMMGqCMj6A2-1HL8rZUwdSEXYwMtoBTw1QqQko99sq0bVOBONYYFFn8tibdkegIQAzFPIHhtJW-bRO~Cn59yIZ9AXuDLD35dlHTWyXTah-dVvw__" alt="">
            </div>
            <div class="card-body">
                <h5>IPS LCD Gaming Monitor</h5>
                <p><span class="text-danger">$370</span>  <span class="text-secondary">$400</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="img">
                <img class="card-img-top" src="https://s3-alpha-sig.figma.com/img/6739/d39d/c218c97b645d616c8188a4f2e6aaf84b?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gWMJnste1-m4Avcc7ibTGwXGqv5taf7DHutd9dnTJUSBU8BAYnselSeLYjDw~wbhQa~0pje5salOQbSkLDOjRNURY55URVTHm6juz~m3APjx6WqIkrRRrKop1ODd~QKdVc~PxVhjk-4iC43YsBKaKQbL44vEWGwqD626PddjQBYluae83zJrCnCcv3Ai7-ZjN1sA1PI9oYrthqZrAMlA1c0yh7xgLO46abCVhfI1wNNX6EcxpAV4L0spoeaVk84naVm3kkTdecRtEctdlFpeTTHICAN7zP7KKk2DwlMngwexgyesMfnHVkG9Auxbv4KMx9~Ku5laAN0iT26Oh9n8GQ__" alt="">
            </div>
            <div class="card-body">
                <h5>RGB liquid CPU Cooler</h5>
                <p><span class="text-danger">$160</span>  <span class="text-secondary">$170</span></p>
            </div>
        </div>
    </div>
        
        

    
</div>