.color-black{
    color: black;
}
.card-custom{
    padding: 4px;
    border: 1px solid gray;
    border-radius: 30%;
    font-size: 13px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.buy-button{
    width: 30%;
    padding: 1%;
}
.heart-icon{
    font-size: 1.1rem;
}
.card-icon{
    font-size: 2rem;
}
.main-img{
    height: 36rem;
    /* line-height: 16rem; */
}
.side-img{
    height: 8rem;
    width: 9rem;
    margin-bottom: 20px;
}
.related-img{
    box-sizing: border-box;
}
.img{
    padding: 18%;
}