.offer{
    background-color: black;
    /* height: 34px; */
    width: 100%;
    

}
.txt{
    color: white;
    font-size: 1rem;
    /* text-align: right; */
}
/* .txt2{
    color: white;
    font-size: small;
    /* float:right; 
} */